#canvas:-moz-full-screen {
  width: 100%;
  height: 100%;
}

#canvas:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

#canvas:-ms-fullscreen {
  width: 100%;
  height: 100%;
}

#canvas:fullscreen {
  width: 100%;
  height: 100%;
}

#presetSelect {
  /* width:100% */
}

#presetCycleLength {
  width: 50px;
}

.navigation {
  display: flex;
  padding: 6px;
  align-items: center;
}

.navigation > * {
  margin-right: 6px;
}

.select-area {
  padding: 6px;
}

.main-area {
  display: flex;
}

#audio-select {
  flex-grow: 1;
  cursor: pointer;
}
#canvas {
  /* width: 640px;
  height: 360px; */
  width: 1280px;
  height: 720px;
}

#mainWrapper {
  max-width: 1600px;
  margin: auto;
}